html, body, .container {
    background-color: #808080;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    height:100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    width: 450px;
}

[class*="col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border-radius: 0;
}

h1 {
    font-size: 54px;
    font-weight: bold;
    text-transform: capitalize;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    height: 33px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

#setTimes, #playPomodoro {
    margin-bottom: 20px;
}

#playPomodoro i {
    font-size: 42px;
}

#playPomodoro i:hover {
    color: #BFAD7C;
}

.col-6 {
    height: 56px;
}

.col-2 {
    height: 34px;
}

#sessionDisplay, #breakDisplay {
    font-family: 'Orbitron', sans-serif;
    font-size: 21px;
    font-weight: bold;
}

#timerDisplay {
    height: 80px;
    font-family: 'Orbitron', sans-serif;
    font-size: 56px;
}